.encabezado {
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
}

.presentacion {
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  background-color: #4B5694;
  color: #EAE0CF;
}

header {
    background-color: #111844;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}